@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scegli un'azione</h1>
    <div>
        <a href="Home/MieiBrani"><button>Visualizza le tue canzoni</button></a>
    </div>
    <div>
        <a href="Home/AddBrano"><button>Inserisci Brano</button></a>
        <a href="Home/AddAlbum"><button>Inserisci Album</button></a>
        <a href="Home/AddArtist"><button>Inserisci Artista</button></a>
        <a href="Home/AddBand"><button>inserisci Band</button></a>
    </div>
</div>
